:root {
  --BGPrimary:   rgba(224,224,224,1.0);
  --MenuPrimary: rgba(192,192,192,1.0);
  --TextPrimary: rgba(18,18,18,1.0);
  --Spacer: rgba(98,96,143,1.0);
  --Hover: rgba(208,208,208,1.0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--BGPrimary);
}

.List {
  position: relative;
  float: left;
  text-align: center;
  width: 32%;
  height: 600px;
  background-color: var(--MenuPrimary);
}
.ListHeader {
  font-weight: bold;
  font-size: 24px;
}
.ListSpacer {
  height: 3px;
  width: 100%;
  background-color: var(--Spacer);
}

.InnerList {
  width: 100%;
  height: 570px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ListItem {
  width: 95%;
  padding: 7px;
  line-height: 23px;
  border-radius: 15px;
  background-color: var(--BGPrimary);
  margin-bottom: 3px;
}
.ListItem:hover {
  background-color: var(--Hover);
  cursor: pointer;
}


.CalcContainer {
  float: left;
  height: 100px;
  width: 45%;
  padding: 5px;
  background-color: var(--MenuPrimary);
  margin-right: 4%;
}
.CalcBox {
  float: left;
  padding: 7px;
  width: 30%;
}
.CalcBox1 {
  float: left;
  padding: 7px;
  width: 6%;
}
.CalcBox2 {
  float: left;
  padding: 7px;
  width: 35%;
}
.PlayerHeader {
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-right: 5px;
}
#PlayerNum {
  font-size: 18px;
  width: 25px;
  height: 20px;
  background: none;
}


.CollectionContainer {
  float: left;
  width: 46%;
  height: 100px;
  padding: 5px;
  background-color: var(--MenuPrimary);
  display: block;
  position: relative;
  background-color: #273b52;
  margin-bottom: 4px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);
  color: #ebebeb;
  text-decoration: none;
  text-align: left;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
}
.CollectionImageContainer {
  height: 100px;
  width: 100px;
  min-height: 100px;
  margin-bottom: 0px;
  position: relative;
  float: left;
  max-width: 31%;
  margin-right: 2%;
  cursor: pointer;
}
.CollectionImageHolder {
  height: 100px;
  width: 100px;
  display: table-cell;
  vertical-align: middle;
  background-color: #000000;
}
.CollectionImage {
  width: 100px;
  max-height: 100px;
}
.CollectionDetails {
  padding-top: 5px;
  margin-left: 110px;
}
.CollectionTitle {
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
}
.CollectionDescription {
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8F98A0;
}

.Inno {
  color: #0f7a0d;
}
.Traitor {
  color: #700813;
}
.Detec {
  color: #001559;
}


.WeirdHeightHelper {
  height: 600px;
  width: 600px;
}
.HorizDivider {
  position: relative;
  float: left;
  width: 2%;
  height: 100px;
}
.VertDivider {
  position: relative;
  width: 400px;
  height: 20px;
}