body {
	background-color: #121212;
	color: #FFFFFF;
}
div {
 	margin-left: 50px;
}
a {
	margin-left: 15px;
}
h2 {
	text-decoration: underline;
}
h3 {
	text-decoration: underline;
	margin-left: 7px;
}

a:link {
	color: #d00b0b;
	text-decoration: underline;
}
a:visited {
	color: #35b618;
	text-decoration: none;
}
a:hover {
	color: #deea2c;
	text-decoration: underline;
}
a:active {
	color: #2c69ea;
	text-decoration: none;
}
