body {
	background-color: #2C2C2C;
	color: #FFFFFF;
}

#greeting {
	position: absolute;
	left: 25px;
	top: 5px;
}
#denied {
	display: none;
}
.Name_Input {
	width:225px;
	padding: 4px 4px;
}
.Pass_Input {
	width:225px;
	padding: 4px 4px;
}

#main_screen {
	display: none;
}
#Welcome_Message {
	font-size: 23px;
	text-decoration: underline;
}
#clock {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
}
