body {
	background-color: #2C2C2C;
	color: #FFFFFF;
}

#greeting {
	position: absolute;
	left: 25px;
	top: 5px;
}
#denied {
	display: none;
}
.Name_Input {
	width:300px;
	padding: 4px 4px;
	border-radius: 10px;
	border: 6px #000000;
}
.Pass_Input {
	width:300px;
	padding: 4px 4px;
	border-radius: 10px;
	border: 6px #000000;
}

#main_screen {
	display: none;
}
#Welcome_Message {
	font-size: 23px;
	text-decoration: underline;
}
#clock {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
}
#layer2 {
	text-align:center;
	display: none;
	font-size: 20px;
}
#Entrance {
	border:8px;
	border-radius: 15px;
	background-color: #1111FF;
	color: #FFFFFF;
}
