body {
	background-color: #000000;
	color: #FFFFFF;
}

#loadcircle11 {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: #343434;
	border-radius: 170px;
	height: 333px;
	width: 333px;
	z-index: -1;
	padding: 7px;
}
#loadcircle12 {
	position: absolute;
	margin: 0 auto;
	top: 0;
	bottom: 0;
	background-color: #8C8C8C;
	z-index: 1;
	border-radius: 170px;
}
#loadingmessage {
	text-align: center;
}
